
* {
    color: white;
}

body {
  background-image: linear-gradient(to right top, #0b2452, #111f4f, #161a4b, #1a1547, #1e0f43, #171648, #0e1c4d, #002151, #002f58, #003b56, #004550, #084e49);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}
input {
    max-width: 50vh;
}
.result {
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
}
.ins-followed{
  margin-bottom: 1vh;
}
.instruction-list {
  justify-content: center;
  height: 68vh;
}
ol {
  background-color: rgba(18, 30, 78, 0.7);
  border: 2px solid rgba(130, 224, 155, 0.1);
  box-shadow: 2px 2px 5px rgba(138, 132, 132, 0.8);
  margin: 5vh;
  padding: 1vh;
  border-radius: 5px;
}
.li-odd {
  border-radius: 4px;
  margin: 8px;
}
.li-even {
  background-color: rgba(130, 224, 155, 0.1);
  border-radius: 4px;
  margin: 8px;
}
.grading-methodology {
  margin: 4vh 14vh 4vh 14vh;
  padding: 2vh;
  background-color: rgba(18, 30, 78, 0.7);
  border-radius: 5px;
}
.form {
  margin: 4vh 34vh 4vh 34vh;
  padding: 2vh;
  background-color: rgba(18, 30, 78, 0.7);
  border-radius: 5px;
}
.ftr-space {
  height: 35vh;
  visibility: hidden;
}
.scale {
  margin: 4vh 14vh 4vh 14vh;
  padding: 2vh;
  background-color: rgba(18, 30, 78, 0.7);
  border-radius: 5px;
}
img{
  max-width: 25vh;
  max-height: 30vh;
}
.result-table {
  background-color: rgb(81, 40, 181, 0.2);
  border-radius: 5px;
}
.result {
  font-weight: 300;
  font-size: 2.5em;
  background-color: rgba(130,220,120,0.3);
  border-radius: 5px;
}
#sev-scale {
  font-weight: 400; 
  font-size: 3em;
  text-align: justify;
}
.flow p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  text-align: center;
          
}
@media only screen and (max-width: 450px) {
  /* Your CSS styles for mobile devices with a viewport width of 320px or less go here */
    body {
    overflow-x: hidden;
  }
  /* to hide the scrollbar in mobile view */
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    background: transparent;
    display: none;
}
/* ::-webkit-scrollbar { display: none; } */  
    
  #grading-methodology {
    display: none;
  }
  #acnehelp{
    display: none;
  }
  img{
    display: none;
  }
  #face-img {
    display: none;
  }
  .scale {
    margin: 2vh 2vh 2vh 2vh;
    padding: 2vh;
    background-color: rgba(18, 30, 78, 0.7);
    border-radius: 5px;
  }
  #sev-scale {
    font-size: 2em;
  }
  .instruction-list {
    justify-content: center;
    height: auto;
  }
  .ftr-space {
    display: none;
  }
  footer {
    display: none;
  }
  .flow p {
    font-size: 0.9em;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}
/* footer css */
footer {
  background-color: #2b3035;
  color: white;
  padding: 10px 0px;
  margin: 0px;
}
.footer-company-name {
  font-size: 1.5em;
}
footer a{
  text-decoration: none;
  color: white;
}
